/* Prevent autofill background color change */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: white !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px #374151 inset !important; 
  transition: background-color 9999s ease-in-out 0s; 
}